body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/space_body_bg.jpg");
}

.canvas_div{
    outline: 5px solid white;
    margin-top: 50px;
    border-radius: 10px;
    background-image: url("../img/start.png");
    background-color: black;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}